*{
    font-family: 'Nsai', sans-serif;
}

body{
    background: url("../backgroundimg/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#side_nav{
    min-width: 250px;
    max-width: 250px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background-color: white;
}