*{
    font-family: 'Nsai', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../backgroundimg/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    position: fixed;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 300px;
}

.sidebar .logo_content .logo{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar .btn{
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 35px;
    transform: translateX(-40%);
}

.sidebar.active .btn{
    left: 85%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin-top: 0.5em;
}


.sidebar ul li input{
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: rgb(71, 70, 70);
    padding-left: 55px;
    font-size: 18px;
    color: white;
}

.sidebar ul li .list{
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px;
    margin-top: 1em;
    white-space: nowrap;
}

.sidebar ul li .bx-search{
    position: absolute;
    color: white;
    z-index: 99;
    margin-left: 0.4em;
    top: 0.1em;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover{
    background: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .list:hover{
    color: black;
    background: white;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.profile_content{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.profile{
    position: relative;
    padding: 10px 6px;
    height: 65px;
    width: 100%;
    z-index: 0;
    background-color: rgb(71, 70, 70);;
}

.profile_detail{
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    opacity: 1;
    pointer-events: none;
    white-space: nowrap;
}

.profile_detail .name{
    opacity: 0;
}

.sidebar.active .profile .profile_detail{
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .profile .profile_detail .name{
    opacity: 1;
    pointer-events: auto;
}

.profile_detail img{
    height: 45px;
    width: auto;
    object-fit: cover;
    border-radius: 20px;
}

.name{
    margin-left: 0.4em;
}

.profile i{
    z-index: 100;
}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    margin: 1em;
    transition: all 0.5s ease;
}

.text{
    font-size: 25px;
    font-weight: 500;
}

.sidebar.active ~ .home_content{
    width: calc(100%-300px);
    left: 300px;   
}