*{
    font-family: 'Nsai', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../backgroundimg/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    position: fixed;
    padding: 6px 14px;
}

.sidebar .logo_content .logo{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar .btn{
    position: absolute;
    left: 85%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 35px;
    transform: translateX(-40%);
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin-top: 0.5em;
}

.sidebar ul li input{
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: rgb(71, 70, 70);
    padding-left: 50px;
    font-size: 18px;
    color: white;
}

.sidebar ul li a{
    display: flex;
    color: white;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px;
    margin-top: 1em;
}

.bx-search{
    position: absolute;
    z-index: 99;
    margin-left: 1em;
    top: 0.5em;
}

.sidebar ul li a:hover{
    color: black;
    background: white;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.profile_content{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.profile{
    position: relative;
    padding: 10px 6px;
    height: 65px;
    width: 100%;
    z-index: 0;
    background-color: rgb(71, 70, 70);;
}

.profile_detail{
    display: flex;
    align-items: center;
    margin-left: 0.5em;
}

.profile_detail img{
    height: 45px;
    width: auto;
    object-fit: cover;
    border-radius: 20px;
}

.name{
    margin-left: 0.4em;
}

.profile i{
    z-index: 100;
}

#login{
    position: absolute;
    bottom: 5px;
    left: 60%;
    transform: translateX(60%);
    line-height: 50px;
    min-width: 50px;
    font-size: 25px;
    border-radius: 12px;
}

#register{
    position: absolute;
    bottom: 5px;
    left: 72%;
    transform: translateX(75%);
    line-height: 50px;
    min-width: 50px;
    font-size: 25px;
    border-radius: 12px;
}

